@charset "UTF-8";

:root {
    --cyclamen: #FF70A6;
    --greenblue: #2364AA;
    --nonphotoblue: #A0D2DB;
    --murrey: #89023E;
    --amaranth: #DA344D;
    --preto: #000000;
    --branco: #ffffff;
}

body {
    background-color: #A0D2DB;
    font-family: cursive;
}

p {
    color:#ffffff;
    background-color: #89023E;
}

h1 {
    font-family: cursive;
}

/* fiquei em dúvida pq quero por a mesma font family no H1 e no restante... */

li {
    font-size: 1.5em;
}