@charset "UTF-8";

:root {
    --thistle: #E7C8DD;
    --pinklavander: #DBAFC1;
    --greenblue: #2364AA;
    --nonphotoblue: #A0D2DB;
    --amaranth: #DA344D;
    --preto: #000000;
    --branco: #ffffff;
}